:root {
  --custom-gray: #b3b9b1;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #1C1C1D;
}

img {
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #252728;
  height: 50px;
  /* padding: 0 10px; */
  padding-left: 10px;
  padding-right: 10px;
}

button {
  background-color: transparent;
  border: none;
  color: var(--custom-gray);
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
}

.center-icons-container {
  display: flex;
  /* gap: 70px; */
}

.right-icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

input {
  border-radius: 20px;
  /* padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px; */
  /* padding: 20px; */
  /*     t y b|l y r */
  padding: 8px 20px;
  /* padding: 5px 7px 9px 12px; */
  border: none;
  background-color: #333334;
  color: white;
}
/* border redondeado
color
estilo letra */

.center-icons-container button {
  padding: 0px 50px;
}

.active {
  color: #0766FF;
  border-bottom: 3px solid #0766FF;
}

.right-icons-container button {
  background-color: #3B3D3E;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border-radius: 30px 10px 25px 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-icons-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.right-icons-container div {
  position: absolute;
  width: 10px;
  bottom: 7px;
  right: 1px;
  height: 10px;
  background-color: #3B3D3E;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid #252728;
}

/* .big-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.big-container .left {
  grid-column: 1 / 4;
  height: 300px;
  background-color: antiquewhite;
}

.big-container .main {
  grid-column: 4 / 10;
  height: 300px;
  background-color: antiquewhite;
}

.big-container .right {
  grid-column: 10 / 13;
  height: 300px;
  background-color: antiquewhite;
} */

.big-container {
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 680px 1fr;
  /* grid-template-columns: 1fr 680px 1fr; */
  /* grid-template-columns: 10% 40% 50%; */
  /* grid-template-columns: .5fr 1.4fr 1fr; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(12, 1fr); */
}

/* Big container */
.big-container .left {
  padding: 15px;
}

.big-container button {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.big-container .left .foto-perfil {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.big-container .left .sprite {
  position: relative;
  left: -22px;
  width: 74px;
  height: 74px;
  transform: scale(0.5);
}

.big-container .left .friends {
  background: url(./images/left_icons.png) 0 -592px;
}

.big-container .left .remember {
  background: url(./images/left_icons.png) 0 -888px;
}

.big-container .left .text {
  position: relative;
  left: -44px;  
}

.big-container .left .saved {
  background: url(./images/left_icons.png) 0 -370px;
}
.big-container .left .teams {
  background: url(./images/left_icons.png) 0 -74px;
}
.big-container .left .video {
  background: url(./images/left_icons.png) 0 74px;
}
.big-container .left .marketplace {
  background: url(./images/left_icons.png) 0 -814px;
}
.big-container .left .feeds {
  background: url(./images/feeds.png);
}

.big-container .left .links a,
.big-container .left .links span {
  color: #ACAFB4;
  text-decoration: none;
  font-size: 12px;
}

/* Estilos main */
.main .estado-container .perfil-container {
  display: flex;
  border-bottom: 2px solid #2A2B2C;
  padding-bottom: 8px;
  gap: 4px;
}

.main .estado-container .foto-perfil {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main .estado-container .thinking {
  width: 100%;
}

.main .estado-container .iconos {
  width: 20px;
}

.main .estado-container .text {
  color: #95989E;
}

.main .estado-container .links-container {
  display: flex;
  justify-content: space-around;
}

.main .estado-container {
  background-color: #252728;
  padding: 12px 16px;
  border-radius: 12px;
  margin-top: 20px;
}

.big-container .main button {
  height: 0;
  padding: 20px;
}

/* Modal */

.modal {
  /* background-color: #00000055; */
  /* background-color: #FFFFFF; */
  /* background-color: rgb(255, 255, 255); */
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  background-color: #252728;
}

.dnone {
  display: none !important;
}

.dflex {
  display: flex !important;
}

.title-h3 {
  color: var(--custom-gray);
  font-weight: normal;
  font-size: 14px;
  padding: 16px 0;
}

.right {
  margin-top: 16px;
  padding-right: 16px;
}

.publi-text {
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.publi-text-2 {
  color: var(--custom-gray);
  font-size: 10px;
}

.publi {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

/* .publi-img {
  width: 60px;
} */

.right section {
  border-bottom: .5px solid #66686C;
}

.flex-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-link {
  font-size: 14px;
  color: #5AA7FF;
}

.friends {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.friends .main_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.friends-name {
  color: white;
  font-size: 12px;
  margin-bottom: 7px;
}

.friends-name-container {
  display: flex;
  justify-content: space-between;
}

.friends-name-container span {
  color: #B1B3B9;
  font-size: 10px;
}

.friends-images {
  display: flex;
  margin-bottom: 7px;
  align-items: center;
}

.friends-images-container {
  display: flex;
}

.friends-images-container img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.friends-first {
  z-index: 2;
}

.friends-second {
  margin-left: -6px;
  z-index: 1;
}

.friends-color {
  outline: 2px solid #1C1C1D;
}

.friends-post-color {
  outline: 2px solid #252728;
}

.friends-third {
  margin-left: -6px;
}

.friends-common {
  font-size: 14px;
  color: var(--custom-gray);
  margin-left: 8px;
}

.friends-btns {
  display: flex;
  gap: 8px;
}

.friends-btns button {
  font-weight: bold;
  padding: 8px 15px;
  height: auto;
  border-radius: 7px;
}

.friends-btns .confirm {
  background-color: #0766FF;
}

.friends-btns .delete {
  background-color: #333334;
}

/* Styling stories */
.stories {
  display: flex;
  gap: 8px;
  margin-top: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.stories .story {
  width: 112px;
  height: 200px;
  flex-shrink: 0;
}

.stories .story img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Styling posts */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.header .left {
  display: flex;
  padding: 0;
  gap: 8px;
}

.header .left img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.header .left .text-container p {
  color: white;
}

.header .left .text-container span {
  color: #B1B3B9;
  font-size: 13px;
  font-weight: 100;
  display: flex;
  gap: 3px;
}

.header .right {
    margin-top: 0;
    padding-right: 0;
    color: #B1B3B9;
}

.post {
  background-color: #252728;
  margin: 18px 0;
  border-radius: 10px;
}
.post .description {
  color: #E3E5E9;
  font-weight: 100;
  font-size: 14px;
  margin: 8px 0;
  padding-left: 12px;
}

.btns-share {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #66686C;
  margin: 0 12px 12px 12px;
}

.likes-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12px;
}

.likes-qty span {
  color: #B1B3B9;
}

/* Modal styles */
.modal-content {
  width: 90%;
  max-width: 495px;
  border: 1px solid #303233;
  border-radius: 10px;
  position: relative;
}

.modal-content header {
  color: white;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #303233;
}

.modal-content .username {
  color: white;
}

.modal-content .public {
  color: #E3E5E9;
  background-color: #3B3D3E;
  padding: 3px 7px;
  font-size: 12px;
  border-radius: 5px;
}

.modal-content .foto-perfil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.modal-content .foto-perfil-container {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
}

.modal-padding {
  padding: 15px;
}

.modal-content textarea {
  background-color: #252728;
  outline: none;
  border: none;
  color: #B1B3B9;
  width: 100%;
  height: 105px;
  font-size: 18px;
}

.modal-content .publicar {
  width: 100%;
  background-color: #3B3D3E;
  padding: 10px 0;
  border-radius: 8px;
}

.modal-content .close {
  color: white;
  position: absolute;
  background-color: #3B3D3E;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 20px;
  right: 20px;
}